.intro__list {
  color: #ffffff;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}
