.intro__title {
  color: #ffffff;
  font-size: 54px;
  line-height: 58px;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
